<ion-header translucent>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button color='yellow-light' (click)="dismissModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="padding margin-70">
        <ion-item>
            <ion-input placeholder="Votre email enregistré" type="email" [(ngModel)]=this.email></ion-input>
        </ion-item>
        <ion-button class="ion-margin-top" color='yellow-light' type="submit" expand="block"
                    [disabled]="!this.email"
                    (click)="resetPassword()">Envoyer un e-mail</ion-button>
    </div>
</ion-content>